html {
  box-sizing: border-box;
  color: #A1A5BE;
 
}
*, *:before, *:after {
  box-sizing: inherit;
}
.App {
  text-align: center;
  background-color: #141A49;
  
  min-width:100%; min-height:100%; width:auto; height:auto;  

}

.heading-font {
  
  font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.border{
  display: inline-block;
  border: 2px solid;
margin: 2px;
}

li {
  padding: 0 20px;
  list-style-type: none;
  text-align: center;
  color: #FFFFFF;
}

.is-active {
  color: #99AAB5;
}

.matchBorder{
    display: block;
    border: 2px solid;
    border: 2px solid #30415D;
    margin: 10px;
    background-color: rgb(68, 82, 138),
    
}

.redSide {
 
  background-Color: red;
  width: 40%;
      
								
}

.arrow {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.20em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 100px;
  height: 0;
  line-height: 0;
  position: relative;
  width: 0; 
  border-left-width: 0.2em;
  border-left-style: solid;
  border-left-color: #222;
  left:0.25em;
}

.matchID {

}


.blueSide {
 
  background-Color: blue;
  width: 4;
  overflow: auto;

								
}


.matchBorder .matchId{
  display: inline-block;
  text-align: center;
}
.matchBorder .matchRedSide{
    display: inline-block;
float:left;
}
.matchBorder .matchBlueSide{
    display: inline-block;
float:right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.makechar {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  
}

.makechar > div {
  box-shadow: 0 2px 2px 0;
  border-radius: 5px;
  background-color: #f1f1f1;
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: background-color .15s ease,border .15s ease;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background: #031424;
  padding: 0.8em 0;
  justify-content: center;
  border-bottom: 2px solid #30415D;
}

.logo{
margin-right: 20%;
}

.create-char-button {
  width: 100px;
  padding: 20px;
  background-color: aqua;
}